<mat-toolbar color="primary">
  <button type="button" mat-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Trip.com</h1>&nbsp;&nbsp;
   <div>
    <a mat-button class="active">Hotels</a>&nbsp;
    <a mat-button class="active">Flights</a>&nbsp;
    <a mat-button class="active">Cars</a>&nbsp;
    <a mat-button class="active">Lost</a>&nbsp;
   </div>
  <span class="example-spacer"></span>
   <div>
    <a mat-button>Register</a>
    <a mat-button>SignIn</a>
   </div>
   <!-- <div></div> -->
</mat-toolbar>
<mat-toolbar color="primary">
  <h1>Welcome</h1>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list role="list">
      <mat-list-item role="listitem"><mat-icon class="personIcon" style="color: brown;">person</mat-icon></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem" routerLinkActive="highlight" routerLink="">Dashbord</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem" routerLinkActive="highlight" routerLink="/new-booking">New Booking</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem" routerLinkActive="highlight">Help</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>